<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>osn.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>osn.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HttpObjectDownload</servlet-name>
        <servlet-class>osn.HttpObjectDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>osn.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberManagement</servlet-name>
        <servlet-class>osn.MemberManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilePicUploader</servlet-name>
        <servlet-class>osn.ProfilePicUploader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxMovResults</servlet-name>
        <servlet-class>ajax.AjaxMovResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxSingerResults</servlet-name>
        <servlet-class>ajax.AjaxSingerResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxShowResults</servlet-name>
        <servlet-class>ajax.AjaxShowResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxBookResults</servlet-name>
        <servlet-class>ajax.AjaxBookResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxPlayerResults</servlet-name>
        <servlet-class>ajax.AjaxPlayerResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Operations</servlet-name>
        <servlet-class>osn.Operations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>osn.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>osn.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DynamicFriends</servlet-name>
        <servlet-class>ajax.DynamicFriends</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveTaggedInformation</servlet-name>
        <servlet-class>osn.SaveTaggedInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImageFromWall</servlet-name>
        <servlet-class>osn.UploadImageFromWall</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HttpObjectDownload</servlet-name>
        <url-pattern>/HttpObjectDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberManagement</servlet-name>
        <url-pattern>/MemberManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilePicUploader</servlet-name>
        <url-pattern>/ProfilePicUploader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxMovResults</servlet-name>
        <url-pattern>/AjaxMovResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxSingerResults</servlet-name>
        <url-pattern>/AjaxSingerResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxShowResults</servlet-name>
        <url-pattern>/AjaxShowResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxBookResults</servlet-name>
        <url-pattern>/AjaxBookResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxPlayerResults</servlet-name>
        <url-pattern>/AjaxPlayerResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Operations</servlet-name>
        <url-pattern>/Operations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DynamicFriends</servlet-name>
        <url-pattern>/DynamicFriends</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveTaggedInformation</servlet-name>
        <url-pattern>/SaveTaggedInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImageFromWall</servlet-name>
        <url-pattern>/UploadImageFromWall</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
